@use "../abstract" as *;
.title {
  h2 {
    margin-left: 12%;
    color: $error;
  }
  h1,
  div {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (min-width: $screen-md) {
  .foo {
    width: 80%;
  }
}
